*.bin
*.o
*.elf
ipshared/
*_netlist.*
*_stub.*
*.dcp
*.veo
*.vho
*.hwh
*.hdf
pipeline_cpu.tmp/
pipeline_cpu.cache/
pipeline_cpu.hw/
pipeline_cpu.ip_user_files/
pipeline_cpu.runs/
pipeline_cpu.sim/sim_1/behav/xsim/
.Xil/
*.jou
*.log
*.dcp
/.lint/